
<router-outlet name="navbar"></router-outlet>

<div class="app-body">

    <jhi-side-menu></jhi-side-menu>

    <!-- Main content -->
    <div class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <jhi-app-breadcrumbs></jhi-app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </div>
</div>

<!-- <jhi-footer></jhi-footer> -->
<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
